.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.slogan {
  width: 100%;
  height: 64px;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFC700;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 217px;
}
.navigation__button {
  background-color: transparent;
  border: 0;
  display: none;
  color: #000000;
  font-size: 50px;
  cursor: pointer;
}
.navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  list-style: none;
}
.navigation__list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
}
.navigation__list-item:hover {
  color: #000000;
  text-decoration: underline;
  text-underline-position: under;
}
.navigation__list-item--rectangle {
  display: none;
}
.navigation__list-item--signup {
  background-color: #FFC700;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 30px 10px 30px;
  text-transform: uppercase;
}
.navigation__list-item--signup:hover {
  color: #FFC700;
  background: #000000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.navigation__list-item--login {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding: 9px 30px 9px 30px;
  border: 2px solid #FFC700;
  text-transform: uppercase;
}
.navigation__list-item--login:hover {
  color: #000000;
  background: #FFC700;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1200px) {
  .navigation {
    gap: 30vw;
    justify-content: space-between;
  }
  .navigation__logo-image {
    width: 100%;
    position: relative;
    left: 5%;
  }
  .navigation__button {
    display: block;
    position: relative;
    right: 5%;
  }
  .navigation__button-rectangle {
    width: 40px;
    height: 7px;
    background: #000000;
    border-radius: 10px;
    margin: 5px;
  }
  .navigation__list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 180px;
    left: 0;
    gap: 30px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 40px 0;
  }
  .navigation__list-item {
    width: 80vw;
    height: 49.08px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 4px solid #000000;
    box-shadow: 10px 10px 0px #FFC700;
  }
  .navigation__list-item--rectangle {
    display: flex;
    width: 80vw;
    height: 0px;
    border: 2px solid #000000;
    box-shadow: none;
    margin: 30px 0;
  }
  .navigation__list-item--signup {
    background-color: #FFC700;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 0;
  }
  .navigation__list-item--login {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 0;
  }
  .show {
    display: flex;
  }
}
.main {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

@media (max-width: 1050px) {
  .main {
    flex-direction: column-reverse;
  }
}
.amazon_no_amazing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 80px;
}
.amazon_no_amazing__title {
  width: 1028px;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.amazon_no_amazing__title-big-text {
  width: 576px;
  font-weight: 800;
  font-size: 48.033px;
  line-height: 102.02%;
}
.amazon_no_amazing__title-small-text {
  width: 582px;
  height: 64.72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.amazon_no_amazing__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 600px;
  flex-direction: column;
}
.amazon_no_amazing__container-item {
  width: 324px;
  height: 59.5px;
  margin: 10px;
  background-color: #FFFFFF;
  box-shadow: 10px 10px #FFC700;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 4px solid #000000;
  font-weight: 800;
  font-size: 15px;
  line-height: 100%;
}
.amazon_no_amazing__container-item--number {
  width: 60.5px;
  height: 59.5px;
  font-weight: 800;
  font-size: 25px;
  line-height: 102.02%;
  background-color: #FFC700;
  border-right: 4px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.amazon_no_amazing__rectangle {
  width: 1012px;
  height: 0px;
  border: 2px solid #000000;
}

@media (max-width: 1050px) {
  .amazon_no_amazing {
    gap: 40px;
  }
  .amazon_no_amazing__title {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 5vw;
  }
  .amazon_no_amazing__title-big-text {
    width: 100%;
    left: 0px;
    font-size: 18px;
    gap: 9vw;
  }
  .amazon_no_amazing__title-small-text {
    width: 70vw;
    height: auto;
    font-size: 16px;
    line-height: 19px;
  }
  .amazon_no_amazing__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .amazon_no_amazing__container-item {
    width: 80vw;
    margin: 0px;
    font-weight: 800;
    font-size: 16px;
    line-height: 100%;
  }
  .amazon_no_amazing__container-item--number {
    font-size: 25px;
  }
  .amazon_no_amazing__rectangle {
    display: none;
  }
}
@media (max-width: 412px) {
  .amazon_no_amazing__container-item {
    font-size: 11px;
  }
}
.frequently-asked-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 80px;
}
.frequently-asked-questions__title {
  font-weight: 800;
  font-size: 48.033px;
  line-height: 102.02%;
  text-align: center;
  color: #000000;
}
.frequently-asked-questions__questions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.frequently-asked-questions__questions-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.frequently-asked-questions__questions-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.frequently-asked-questions__questions--item {
  width: 485px;
}
.frequently-asked-questions__questions--question {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #000000;
  background: #FFC700;
  padding: 20px;
  border: 4px solid #000000;
  cursor: pointer;
}
.frequently-asked-questions__questions--symbol {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-left: 15px;
  transition: transform 0.3s ease-in-out;
}
.frequently-asked-questions__questions--answer {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 40px;
  border-left: 4px solid #000000;
  border-right: 4px solid #000000;
  border-bottom: 4px solid #000000;
  background-color: #FFFFFF;
  position: relative;
  display: none;
}
.frequently-asked-questions__small-text {
  font-weight: 800;
  font-size: 18px;
  line-height: 102.02%;
  text-align: center;
  color: #000000;
}
.frequently-asked-questions__rectangle {
  width: 1012px;
  height: 0px;
  border: 2px solid #000000;
  display: none;
}

.show {
  display: flex;
}

@media (max-width: 1050px) {
  .frequently-asked-questions__title {
    font-size: 5vw;
  }
  .frequently-asked-questions__questions {
    flex-direction: column;
  }
  .frequently-asked-questions__questions-left {
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .frequently-asked-questions__questions-right {
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .frequently-asked-questions__questions--item {
    width: 80vw;
  }
  .frequently-asked-questions__questions--question {
    justify-content: space-between;
    font-size: 16px;
    line-height: 19px;
    padding: 10px;
  }
  .frequently-asked-questions__small-text {
    width: 80vw;
    font-size: 16px;
    line-height: 123.52%;
  }
  .frequently-asked-questions__rectangle {
    display: block;
    width: 90vw;
  }
}
.footer {
  height: 348px;
  display: flex;
  flex-direction: row;
}
.footer__scrollUp {
  display: none;
}
.footer__container {
  width: 100%;
  margin-top: 30px;
  background-color: #FFC700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__left-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.footer__left-navigation {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}
.footer__left-navigation-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}
.footer__left-navigation-list-item {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
}
.footer__left-copyrithing {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.footer__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
}
.footer__right-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__right-list {
  width: 254px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  justify-content: center;
}
.footer__right-list-signup {
  color: #FFC700;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 10px 28px;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.footer__right-list-login {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 8px 28px;
  background-color: #FFC700;
  border: 2px solid #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.footer__right-social-media {
  width: 254px;
  background: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 5px 0px;
  gap: 40px;
}
.footer__right-social-media--link {
  color: #FFC700;
  font-size: 25px;
  text-decoration: none;
}

@media (max-width: 600px) {
  .footer {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__scrollUp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46.11px;
    height: 46.11px;
    background: #FFC700;
    border: 4px solid #000000;
    font-size: 40px;
    color: #000000;
    text-decoration: none;
  }
  .footer__container {
    flex-direction: column;
  }
  .footer__left {
    position: relative;
    top: 60px;
    height: auto;
  }
  .footer__left-container {
    justify-content: space-between;
    align-items: center;
    gap: 250px;
  }
  .footer__left-navigation {
    justify-content: center;
    align-items: center;
  }
  .footer__left-copyrithing {
    text-align: center;
  }
  .footer__right {
    position: relative;
    top: -200px;
    padding: 0;
  }
  .footer__right-container {
    gap: 100px;
  }
  .footer__right-social-media {
    background: transparent;
  }
  .footer__right-social-media--link {
    color: #000000;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
}/*# sourceMappingURL=style.css.map */